<div class = "lsidebar">
    <h2>Manage Inventory</h2><br>
    <form action = "/category">
        <button>Show Categories</button>
    </form>
    <form action = "/category/create">
        <button>Create Category</button>
    </form>
    <form action = "/category/delete">
        <button>Delete Category</button>
    </form>
    <form action = "/inventory/showproduct">
        <button>Show Products</button>
    </form>
    <form action = "/inventory/createproduct">
        <button>Create Product</button>
    </form>
    <form action = "/inventory/deleteproduct">
        <button>Delete Product</button>
    </form>
</div>