{% extends 'base2.html' %}

{% block title %} Show Products {% endblock %}

{% block content %}
    {% include 'lsidebar.html' %}
    <div class = "rsidebar">
        <h2>Show Products</h2><br>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
        {% for result in results %}
            <tr>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td>{{result[3]}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}